In [2]:
strex = str()
print(strex)

In [3]:
type(strex)

str

In [4]:
name ='lucky'
age='21'
print("name is {} and age is {}".format(name,age))

name is lucky and age is 21

In [5]:
name ='lucky'
age='21'
print("name is {name_ex} and age is {age_ex}".format(age_ex= age,name_ex=name))

name is lucky and age is 21

In [8]:
str_ex =input("Name:")

Name:smiley

In [9]:
str_ex

'smiley'

In [10]:
str_ex[-1]

'y'

In [11]:
str_ex[::]

'smiley'

In [12]:
str_ex[::-1]

'yelims'

In [13]:
str_ex[::-2]

'ylm'

In [14]:
str_ex[3] ='y'

TypeError: 'str' object does not support item assignment

In [15]:
lst=[1,2,3,4]
lst[2]=6

In [17]:
print(lst)

[1, 2, 6, 4]

In [18]:
str_ex *6

'smileysmileysmileysmileysmileysmiley'

In [30]:
'''testthecommentb
find and count
'''
str_ex.find("y")

5

In [34]:
my_list = ['1','2','test','23','100','item1']

In [35]:
my_list

['1', '2', 'test', '23', '100', 'item1']

In [36]:
my_list.append('item2')
my_list

['1', '2', 'test', '23', '100', 'item1', 'item2']

In [37]:
my_list.insert(3,'item3')
my_list

['1', '2', 'test', 'item3', '23', '100', 'item1', 'item2']

In [38]:
#remve the list item
my_list.pop(2)
my_list

['1', '2', 'item3', '23', '100', 'item1', 'item2']

In [39]:
my_list.reverse()
my_list

['item2', 'item1', '100', '23', 'item3', '2', '1']

In [40]:
my_list.sort()
my_list

['1', '100', '2', '23', 'item1', 'item2', 'item3']

In [41]:
my_list.append("13.5")
my_list

['1', '100', '2', '23', 'item1', 'item2', 'item3', '13.5']

In [42]:
my_list.sort()
my_list

['1', '100', '13.5', '2', '23', 'item1', 'item2', 'item3']

In [43]:
#  let nested list
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]
matrix=[lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
matrix[1][2]

6

In [48]:
#l matrix append
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [49]:
#l matrix extend
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [50]:
x.index(2)

1

In [51]:
x.remove(4)
x

[1, 2, 3, 5]

In [52]:
#tuple  tupleisimmutable
t=(1,2,3)
t

(1, 2, 3)

In [53]:
type(t)

tuple

In [54]:
ts=('t','x','y')
ts

('t', 'x', 'y')

In [55]:
ts[1]='s'
ts

TypeError: 'tuple' object does not support item assignment

In [57]:
#sets collection of data
s = set()
type(s)

set

In [58]:
s.add(3)
s

{3}

In [59]:
s = {1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [60]:
st= set()
st=(1,2,3,4)
st

(1, 2, 3, 4)

In [61]:
st2= set()
st2=[1,2,3,4]
st2

[1, 2, 3, 4]

In [62]:
st2[2]

3

In [64]:
st2.append(4)
st2

[1, 2, 3, 4, 8, 4]

In [65]:
st2.remove(4)
st2

[1, 2, 3, 8, 4]

In [67]:
#diconary is a collection of key value
my_dict = {'key1': "val1",'key2':3}
my_dict['key2']

3

In [68]:
my_dict['key1'][0]

'v'

In [69]:
my_dict = {'key1': "val1",'key2':[1,2,3],'key3':['item1','item2','item3']}
my_dict['key3'][2]

'item3'

In [71]:
my_dict['key1']=my_dict['key1'] - 'val2'
my_dict

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
d={1,2,3}
type(d)

set

In [73]:
d=[]
type(d)

list

In [74]:
d={}
type(d)

dict

In [80]:
d={}
d['anmal']='Dod'
d

{'anmal': 'Dod'}

In [81]:
type(d)

dict

In [82]:
d['anmal']='cat'
d

{'anmal': 'cat'}

In [83]:
#dictinarynestdinsidea dictionary nested inside a dictionary
d={"key1":{'Nestkey':{'subnetkey':[1,2,3,4]}}}
d

{'key1': {'Nestkey': {'subnetkey': [1, 2, 3, 4]}}}

In [84]:
d.keys()

dict_keys(['key1'])

In [85]:
d['key1']['Nestkey']['subnetkey'][2]

3

In [86]:
d['key1']['Nestkey'].values()

dict_values([[1, 2, 3, 4]])

In [87]:
d = {'key1':1,'key2':2,'key4':3,'key3':5}
d

{'key1': 1, 'key2': 2, 'key4': 3, 'key3': 5}

In [91]:
d["key1"].values()

AttributeError: 'int' object has no attribute 'values'